@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap);

:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 200ms ease;
}

.navbar-nav {
  height: 100vh;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  min-width: 2rem;
  margin: 0 1.5rem;
  transition: var(--transition-speed);
}

.navbar:hover {
  width: 16rem;
}

.navbar:hover .link-text {
  display: block;
}

.nav-icon {
  color: rgb(84, 190, 231);
  transition: var(--transition-speed);
}

.logo {
   font-weight: bold;
   text-transform: uppercase;
   margin-bottom: 1rem;
   text-align: center;
   color: var(--text-secondary);
   background: var(--bg-secondary);
   font-size: 1.5rem;
   letter-spacing: 0.3ch;
   width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition:  transform var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 10vh;
  }

  .navbar:hover {
    width: 100vw;
  }

  .navbar:hover .link-text {
    display: none;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
    height: 5rem;
  }
  .nav-link {
    justify-content: center;
  }

  .nav-icon {
    font-size: 1.5rem;
  }

  .nav-item {
    width: 20vw;
  }

  main {
    margin: 0;
    height: 85vh; /* Se puede qitar el heigh y solo colocar un margin button de 5 rem */
    overflow: auto;
  }
}

/* large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    width: 5rem;
    height: 100vh;
    top: 0;
  }
}